extends ../_component/layout/base

block config
    -
        var title = template.head.title || 'Change the template title'
        var description = template.head.description || 'Change this description'
block content 
    .content
        each something in template.body
            if something.type == 'blockquote'
                blockquote.blockquote
                    .blockquote__body
                        each paragraph in something.data
                            p=paragraph
            if something.type == 'pre'
                h3=something.title              
                each dataValue in something.data
                    pre=dataValue
            if something.type == 'ul'
                ul  
                    each listItem in something.data
                        li=listItem

            if something.type == "h3"
                h3=something.data

            if something.type == "h2"
                h2=something.data

            if something.type == "paragraph" || something.type == "p"
                each paragraph in something.data
                    p=paragraph

            if something.type == "paragraph-safe"
                each paragraph in something.data
                    p!=paragraph

            if something.type == 'hr'
                hr
            
            if something.type == 'img'
                img(src=something.src)